{% extends 'admin.twig' %}

{% block content %}
<div ng-controller="LoginLdapAdminController"
        data-loginLdapConfig="{{ ldapConfig|json_encode }}"
        data-servers="{{ servers|json_encode }}">

    <h2>{{ 'LoginLdap_Settings'|translate }}</h2>

    <table id='ldapSettingsTable' class="adminTable">
        <tr>
            <td>
                <label for="userIdField">{{ 'LoginLdap_UserIdField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_UserIdFieldDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="userIdField" ng-model="loginLdapConfig.userIdField"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="mailField">{{ 'LoginLdap_MailField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_MailFieldDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="mailField" ng-model="loginLdapConfig.mailField"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="aliasField">{{ 'LoginLdap_AliasField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_AliasFieldDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="aliasField" ng-model="loginLdapConfig.aliasField"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="usernameSuffix">{{ 'LoginLdap_UsernameSuffix'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_UsernameSuffixDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="usernameSuffix" ng-model="loginLdapConfig.usernameSuffix"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="memberOf">{{ 'LoginLdap_MemberOf'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_MemberOfDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="memberOf" ng-model="loginLdapConfig.memberOf"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="filter">{{ 'LoginLdap_Filter'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_FilterDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="filter" ng-model="loginLdapConfig.filter"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="useKerberos">{{ 'LoginLdap_Kerberos'|translate }} </label>
            </td>
            <td>
                <input type="checkbox" ng-model="loginLdapConfig.useKerberos" id="useKerberos"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="autoCreateUser">{{ 'LoginLdap_autoCreateUser'|translate }} </label>
            </td>
            <td>
                <input type="checkbox" ng-model="loginLdapConfig.autoCreateUser" id="autoCreateUser"/>
            </td>
        </tr>

        <tr>
            <td align="left">
                <input class="submit" type="submit" value="{{ 'General_Save'|translate }}" ng-click="saveLoginLdapConfig(loginLdapConfig)"/>
            </td>
            <td></td>
        </tr>
    </table>

    <h2>{{ 'LoginLdap_LDAPServers'|translate }}</h2>
    <div ng-repeat="serverInfo in servers">
        <table class="adminTable" style='width:900px'>
            <tr>
                <td width="150">
                    <h3 style="margin-top:0;" ng-show="!serverInfo.isEditingName" ng-click="serverInfo.isEditingName = true">{% verbatim %}{{ serverInfo.name }}{% endverbatim %}</h3>
                    <input type="text" size="8" ng-show="serverInfo.isEditingName" ng-blur="serverInfo.isEditingName = false" ng-model="serverInfo.name"/>
                </td>
                <td><input type="button" value="{{ 'General_Delete'|translate }}" ng-click="deleteServer(serverInfo.name)" class="submit"/></td>
            </tr>
            <tr>
                <td width="150"><label for="serverUrl-\{\{ $index \}\}">{{ 'LoginLdap_ServerUrl'|translate }} </label></td>
                <td>
                    <input size="25" id="serverUrl-\{\{ $index \}\}" ng-model="serverInfo.hostname"/>
                    <span class='form-description'>{{ 'LoginLdap_ServerUrlDescription'|translate }}</span>
                </td>
            </tr>

            <tr>
                <td><label for="ldapPort-\{\{ $index \}\}">{{ 'LoginLdap_LdapPort'|translate }} </label></td>
                <td>
                    <input size="25" id="ldapPort-\{\{ $index \}\}" ng-model="serverInfo.port"/>
                    <span class='form-description'>{{ 'LoginLdap_LdapPortDescription'|translate }}</span>
                </td>
            </tr>

            <tr>
                <td><label for="baseDn-\{\{ $index \}\}">{{ 'LoginLdap_BaseDn'|translate }} </label></td>
                <td>
                    <input size="25" id="baseDn-\{\{ $index \}\}" ng-model="serverInfo.base_dn"/>
                    <span class='form-description'>{{ 'LoginLdap_BaseDnDescription'|translate }}</span>
                </td>
            </tr>

            <tr>
                <td><label for="adminUser-\{\{ $index \}\}">{{ 'LoginLdap_AdminUser'|translate }} </label></td>
                <td>
                    <input size="25" id="adminUser-\{\{ $index \}\}" ng-model="serverInfo.admin_user"/>
                    <span class='form-description'>{{ 'LoginLdap_AdminUserDescription'|translate }}</span>
                </td>
            </tr>

            <tr>
                <td><label for="adminPass-\{\{ $index \}\}">{{ 'LoginLdap_AdminPass'|translate }} </label></td>
                <td>
                    <input size="25" id="adminPass-\{\{ $index \}\}" ng-model="serverInfo.admin_pass" type="password"/>
                </td>
            </tr>
        </table>
    </div>

    <input type="button" value="{{ 'General_Add'|translate }}" ng-click="addServer()" class="submit"/>
    <input type="button" value="{{ 'General_Save'|translate }}" ng-click="saveServers(servers)" class="submit"/>
</div>
{% endblock %}