{% extends 'admin.twig' %}

{% block content %}
{% if isLoginControllerActivated|default(false) %}
<div piwik-notification context="warning" noclear="true">
    <strong>{{ 'General_Warning'|translate }}</strong>: {{ 'LoginLdap_LoginPluginEnabledWarning'|translate("Login", "LoginLdap") }}
</div>
{% endif %}

<div ng-controller="LoginLdapAdminController as adminController"
     data-servers="{{ servers|json_encode }}">
    <h2>{{ 'LoginLdap_Settings'|translate }}</h2>

    <table id='ldapSettingsTable'
           class="adminTable"
           piwik-ajax-form
           submit-api-method="'LoginLdap.saveLdapConfig'"
           send-json-payload="true">

        <tr>
            <td>
                <label for="use_ldap_for_authentication">{{ 'LoginLdap_UseLdapForAuthentication'|translate }}</label><br/>
                <span class='form-description'>{{ 'LoginLdap_UseLdapForAuthenticationDescription'|translate }}</span>
                <br/><br/>
                <span class='form-description'>{{ 'LoginLdap_MobileAppIntegrationNote'|translate }}</span>
            </td>
            <td>
                <input type="checkbox" {% if ldapConfig.use_ldap_for_authentication %}checked="checked"{% endif %} id="use_ldap_for_authentication" name="use_ldap_for_authentication"/>
                {% if updatedFromPre30|default %}
                    <div piwik-notification context="warning" noclear="true" id="pre300AlwaysUseLdapWarning">
                        <strong>{{ 'General_Note'|translate }}</strong>: {{ 'LoginLdap_UpdateFromPre300Warning'|translate }}
                    </div>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <label for="synchronize_users_after_login">{{ 'LoginLdap_SynchronizeUsersAfterLogin'|translate }}</label><br/>
                <span class='form-description'>{{ 'LoginLdap_SynchronizeUsersAfterLoginDescription'|translate }}</span><br/>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_SynchronizeUsersAfterLoginDescription2'|translate }}</span>
            </td>
            <td>
                <input type="checkbox" {% if ldapConfig.synchronize_users_after_login %}checked="checked"{% endif %} id="synchronize_users_after_login" name="synchronize_users_after_login"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="useKerberos">{{ 'LoginLdap_Kerberos'|translate }} </label><br/>
                <span class='form-description'>{{ 'LoginLdap_KerberosDescription'|translate }}</span>
            </td>
            <td>
                <input type="checkbox" {% if ldapConfig.use_webserver_auth %}checked="checked"{% endif %} id="useKerberos" name="use_webserver_auth"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="ldap_network_timeout">{{ 'LoginLdap_NetworkTimeout'|translate }}</label><br/>
                <span class='form-description'>{{ 'LoginLdap_NetworkTimeoutDescription'|translate }}</span><br/>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_NetworkTimeoutDescription2'|translate }}</span>
            </td>
            <td>
                <input type="text" value="{{ ldapConfig.ldap_network_timeout }}" id="ldap_network_timeout" name="ldap_network_timeout"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="memberOfField">{{ 'LoginLdap_MemberOfField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_MemberOfFieldDescription'|translate }}</span><br/>
                <br/>
            </td>
            <td>
                <input size="25" id="memberOfField" name="required_member_of_field" value="{{ ldapConfig.required_member_of_field }}"/>
            </td>
        </tr>
        
        <tr>
            <td>
                <label for="memberOf">{{ 'LoginLdap_MemberOf'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_MemberOfDescription'|translate }}</span><br/>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_MemberOfDescription2'|translate }}</span>
            </td>
            <td><label></label>
                <div piwik-login-ldap-testable-field
                     input-id="memberOf"
                     test-api-method="'LoginLdap.getCountOfUsersMemberOf'"
                     test-api-method-arg="'memberOf'"
                     name="required_member_of"
                     value="{{ ldapConfig.required_member_of }}"
                     success-translation="LoginLdap_MemberOfCount">
                 </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="filter">{{ 'LoginLdap_Filter'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_FilterDescription'|translate }}</span>
            </td>
            <td>
                <div piwik-login-ldap-testable-field
                     input-id="filter"
                     test-api-method="'LoginLdap.getCountOfUsersMatchingFilter'"
                     test-api-method-arg="'filter'"
                     name="ldap_user_filter"
                     value="{{ ldapConfig.ldap_user_filter }}"
                     success-translation="LoginLdap_FilterCount">
                </div>
            </td>
        </tr>

        <tr>
            <td align="left">
                <input class="submit" type="submit" value="{{ 'General_Save'|translate }}" ng-disabled="ajaxForm.isSubmitting"/>
            </td>
            <td> </td>
        </tr>
    </table>

    <h2>{{ 'LoginLdap_UserSyncSettings'|translate }}</h2>
    <table id="ldapUserMappingSettingsTable"
           class="adminTable"
           piwik-ajax-form
           submit-api-method="'LoginLdap.saveLdapConfig'"
           send-json-payload="true">
        <tr>
            <td>
                <label for="generateRandomTokenAuth">{{ 'LoginLdap_GenerateRandomTokenAuth'|translate }}</label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_GenerateRandomTokenAuthDescription'|translate }}</span><br/>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_GenerateRandomTokenAuthDescription2'|translate }}</span>
            </td>
            <td>
                <input size="25" type="checkbox" id="generateRandomTokenAuth" {% if ldapConfig.enable_random_token_auth_generation %}checked="checked"{% endif %} name="enable_random_token_auth_generation"/>

                <div piwik-notification context="info" id="synchronizeIndividualUserForm" noclear="true">
                    <strong>{{ 'LoginLdap_LoadUser'|translate }}</strong>
                    <p>{{ 'LoginLdap_LoadUserDescription'|translate }}</p>
                    <input ng-model="userToSynchronize" type="text" value="" piwik-onenter="$parent.$parent.synchronizeUser(userToSynchronize)" placeholder="Enter a username..."/>
                    <a href="" ng-click="$parent.$parent.synchronizeUser(userToSynchronize)">{{ 'LoginLdap_Go'|translate }}</a>
                    <img src="plugins/Morpheus/images/loading-blue.gif" ng-show="$parent.$parent.currentSynchronizeUserRequest" /><br/>
                    <br/>
                    <div ng-show="$parent.$parent.synchronizeUserError || $parent.$parent.synchronizeUserDone">
                        <div ng-if="$parent.$parent.synchronizeUserError">{% verbatim %}{{ $parent.$parent.$parent.synchronizeUserError }}{% endverbatim %}</div>
                        <div ng-if="$parent.$parent.synchronizeUserDone">{% verbatim %}<strong>{{ 'General_Done'|translate }}!</strong>{% endverbatim %}</div>
                        <br/>
                    </div>
                    <span>{{ 'LoginLdap_LoadUserCommandDesc'|translate('<a target="_blank" href="https://github.com/piwik/plugin-LoginLdap#commands">loginldap:synchronize-users</a>')|raw }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="userIdField">{{ 'LoginLdap_UserIdField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_UserIdFieldDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="userIdField" value="{{ ldapConfig.ldap_user_id_field }}" name="ldap_user_id_field"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="ldap_password_field">{{ 'LoginLdap_PasswordField'|translate }}</label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_PasswordFieldDescription'|translate }}</span><br/>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_PasswordFieldDescription2'|translate }}</span>
            </td>
            <td>
                <input size="25" id="ldap_password_field" value="{{ ldapConfig.ldap_password_field }}" name="ldap_password_field" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="mailField">{{ 'LoginLdap_MailField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_MailFieldDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="mailField" value="{{ ldapConfig.ldap_mail_field }}" name="ldap_mail_field"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="aliasField">{{ 'LoginLdap_AliasField'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_AliasFieldDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="aliasField" value="{{ ldapConfig.ldap_alias_field }}" name="ldap_alias_field"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="firstNameField">{{ 'LoginLdap_FirstNameField'|translate }}</label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_FirstNameFieldDescription'|translate }}</span><br/><br/>
                <span class='form-description'>{{ 'LoginLdap_FirstLastNameForAlias'|translate }}</span>
            </td>
            <td>
                <input size="25" type="text" id="firstNameField" value="{{ ldapConfig.ldap_first_name_field }}" name="ldap_first_name_field"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="lastNameField">{{ 'LoginLdap_LastNameField'|translate }}</label>
                <br/>
                <span class="form-description">{{ 'LoginLdap_LastNameFieldDescription'|translate }}</span><br/><br/>
                <span class='form-description'>{{ 'LoginLdap_FirstLastNameForAlias'|translate }}</span>
            </td>
            <td>
                <input size="25" type="text" id="lastNameField" value="{{ ldapConfig.ldap_last_name_field }}" name="ldap_last_name_field"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="usernameSuffix">{{ 'LoginLdap_UsernameSuffix'|translate }} </label>
                <br/>
                <span class='form-description'>{{ 'LoginLdap_UsernameSuffixDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" id="usernameSuffix" value="{{ ldapConfig.user_email_suffix }}" name="user_email_suffix"/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="newUserDefaultSitesViewAccess">{{ 'LoginLdap_NewUserDefaultSitesViewAccess'|translate }}</label>
                <br/>
                <span class="form-description">{{ 'LoginLdap_NewUserDefaultSitesViewAccessDescription'|translate }}</span>
            </td>
            <td>
                <input size="25" type="text" value="{{ ldapConfig.new_user_default_sites_view_access }}" name="new_user_default_sites_view_access" id="newUserDefaultSitesViewAccess" />
            </td>
        </tr>

        <tr>
            <td align="left">
                <input class="submit" type="submit" value="{{ 'General_Save'|translate }}" ng-disabled="ajaxForm.isSubmitting"/>
            </td>
            <td> </td>
        </tr>
    </table>

    <h2>{{ 'LoginLdap_AccessSyncSettings'|translate }}</h2>
    <p>
        {{ 'LoginLdap_ReadMoreAboutAccessSynchronization'|translate('<a target="_blank" href="https://github.com/piwik/plugin-LoginLdap#piwik-access-synchronization">','</a>')|raw }}
    </p>

    <div>
        <table id="accessSyncSettings"
               piwik-ajax-form
               submit-api-method="'LoginLdap.saveLdapConfig'"
               send-json-payload="true">

            <tr>
                <td>
                    <label for="enableLdapAccessSync">{{ 'LoginLdap_EnableLdapAccessSynchronization'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_EnableLdapAccessSynchronizationDescription'|translate }}</span>
                </td>
                <td>
                    <input type="checkbox" {% if ldapConfig.enable_synchronize_access_from_ldap %}checked="checked"{% endif %} id="enableLdapAccessSync"
                           name="enable_synchronize_access_from_ldap"/>
                    <div piwik-notification context="info" id="expectedAccessAttributeFormat" noclear="true" ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                        <strong>{{ 'LoginLdap_ExpectedLdapAttributes'|translate }}</strong><br/>
                        <br/>
                        {{ 'LoginLdap_ExpectedLdapAttributesPrelude'|translate }}:<br/>
                        <br/>
                        <ul>
                            <li>{% verbatim %}{{ $parent.$parent.getSampleViewAttribute(ajaxForm.data) }}{% endverbatim %}</li>
                            <li>{% verbatim %}{{ $parent.$parent.getSampleAdminAttribute(ajaxForm.data) }}{% endverbatim %}</li>
                            <li>{% verbatim %}{{ $parent.$parent.getSampleSuperuserAttribute(ajaxForm.data) }}{% endverbatim %}</li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                <td>
                    <label for="ldapViewAccessField">{{ 'LoginLdap_LdapViewAccessField'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_LdapViewAccessFieldDescription'|translate }}</span>
                </td>
                <td>
                    <input size="25" type="text" id="ldapViewAccessField" value="{{ ldapConfig.ldap_view_access_field }}" name="ldap_view_access_field" />
                </td>
            </tr>

            <tr ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                <td>
                    <label for="ldapAdminAccessField">{{ 'LoginLdap_LdapAdminAccessField'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_LdapAdminAccessFieldDescription'|translate }}</span>
                </td>
                <td>
                    <input size="25" type="text" id="ldapAdminAccessField" value="{{ ldapConfig.ldap_admin_access_field }}" name="ldap_admin_access_field" />
                </td>
            </tr>

            <tr ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                <td>
                    <label for="ldapSuperUserAccessField">{{ 'LoginLdap_LdapSuperUserAccessField'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_LdapSuperUserAccessFieldDescription'|translate }}</span>
                </td>
                <td>
                    <input size="25" type="text" id="ldapSuperUserAccessField" value="{{ ldapConfig.ldap_superuser_access_field }}" name="ldap_superuser_access_field" />
                </td>
            </tr>

            <tr ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                <td>
                    <label for="userAccessAttributeServerSpecDelimiter">{{ 'LoginLdap_LdapUserAccessAttributeServerSpecDelimiter'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_LdapUserAccessAttributeServerSpecDelimiterDescription'|translate }}</span>
                </td>
                <td>
                    <input size="25" type="text" id="userAccessAttributeServerSpecDelimiter" value="{{ ldapConfig.user_access_attribute_server_specification_delimiter }}"
                           name="user_access_attribute_server_specification_delimiter"/>
                </td>
            </tr>

            <tr ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                <td>
                    <label for="userAccessAttributeServerSeparator">{{ 'LoginLdap_LdapUserAccessAttributeServerSeparator'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_LdapUserAccessAttributeServerSeparatorDescription'|translate }}</span>
                </td>
                <td>
                    <input size="25" type="text" id="userAccessAttributeServerSeparator" value="{{ ldapConfig.user_access_attribute_server_separator }}"
                           name="user_access_attribute_server_separator" />
                </td>
            </tr>

            <tr ng-show="ajaxForm.data.enable_synchronize_access_from_ldap">
                <td>
                    <label for="instanceName">{{ 'LoginLdap_ThisPiwikInstanceName'|translate }}</label>
                    <br/>
                    <span class="form-description">{{ 'LoginLdap_ThisPiwikInstanceNameDescription'|translate }}</span>
                </td>
                <td>
                    <input size="25" type="text" id="instanceName" value="{{ ldapConfig.instance_name }}" name="instance_name" />
                </td>
            </tr>

            <tr>
                <td align="left">
                    <input class="submit" type="submit" value="{{ 'General_Save'|translate }}" ng-disabled="ajaxForm.isSubmitting"/>
                </td>
                <td> </td>
            </tr>
        </table>
    </div>

    <h2>{{ 'LoginLdap_LDAPServers'|translate }}</h2>
    <p class="form-description">{{ 'General_Note'|translate }}: {{ 'LoginLdap_ServerNameEditInstructions'|translate }}</p>
    <div piwik-ajax-form
         ng-model="servers"
         submit-api-method="'LoginLdap.saveServersInfo'"
         send-json-payload="true"
         use-custom-data-binding="true">
        <div ng-repeat="serverInfo in ajaxForm.data" id="ldapServersTable">
            <table class="adminTable" style='width:900px'>
                <tr>
                    <td width="150">
                        <h3 style="margin-top:0;" ng-show="!serverInfo.isEditingName" ng-click="serverInfo.isEditingName = true">{% verbatim %}{{ serverInfo.name }}{% endverbatim %}</h3>
                        <input type="text" size="8" ng-show="serverInfo.isEditingName" ng-blur="serverInfo.isEditingName = false" ng-model="serverInfo.name"/>
                    </td>
                    <td><input type="button" value="{{ 'General_Delete'|translate }}" ng-click="ajaxForm.data.splice($index, 1)" class="submit"/></td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="150"><label for="serverUrl-\{\{ $index \}\}">{{ 'LoginLdap_ServerUrl'|translate }} </label></td>
                    <td>
                        <input size="25" id="serverUrl-\{\{ $index \}\}" ng-model="serverInfo.hostname" placeholder="localhost" type="text"/>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>

                <tr>
                    <td><label for="ldapPort-\{\{ $index \}\}">{{ 'LoginLdap_LdapPort'|translate }} </label></td>
                    <td>
                        <input size="25" id="ldapPort-\{\{ $index \}\}" ng-model="serverInfo.port" type="text" placeholder="389"/>
                    </td>
                    <td>
                        <div ng-show="serverInfo.port && serverInfo.port != 389 && serverInfo.hostname && serverInfo.hostname.indexOf('ldap://') != -1">
                            <div piwik-notification context="info" id="ldapUrlPortWarning" noclear="true">
                                <strong>{{ 'General_Warning'|translate }}</strong>: {{ 'LoginLdap_LdapUrlPortWarning'|translate }}
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label for="baseDn-\{\{ $index \}\}">{{ 'LoginLdap_BaseDn'|translate }} </label></td>
                    <td>
                        <input size="25" id="baseDn-\{\{ $index \}\}" ng-model="serverInfo.base_dn" placeholder="dc=example,dc=site,dc=org" type="text"/>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>

                <tr>
                    <td><label for="adminUser-\{\{ $index \}\}">{{ 'LoginLdap_AdminUser'|translate }} </label></td>
                    <td>
                        <input size="25" id="adminUser-\{\{ $index \}\}" ng-model="serverInfo.admin_user" type="text" placeholder="cn=admin,dc=example,dc=site,dc=org"/>
                    </td>
                    <td>
                        <span class='form-description'>{{ 'LoginLdap_AdminUserDescription'|translate }}</span>
                    </td>
                </tr>

                <tr>
                    <td><label for="adminPass-\{\{ $index \}\}">{{ 'LoginLdap_AdminPass'|translate }} </label></td>
                    <td>
                        <input size="25" id="adminPass-\{\{ $index \}\}" ng-model="serverInfo.admin_pass" type="password" />
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>

        <input type="button" value="{{ 'General_Add'|translate }}" ng-click="ajaxForm.data.addServer()" class="submit"/>
        <input type="submit" value="{{ 'General_Save'|translate }}" class="submit" ng-disabled="ajaxForm.isSubmitting"/>
    </div>
</div>
{% endblock %}